@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #27aedb;
  text-align: center;
}

img {
  display: block;
  width: 50%;
  height: auto;
  margin: 20px auto;
}

.logo {
  max-height: 258px;
  img {
    width: 820px;
    height: auto;
    margin: 0 auto;
  }
}
#wolfie{
  width: 100%;
  height: 100%;
  background: #232222;
}

.wrapper {
  background: #232222;
  min-height: 100vmin;
  &_light {
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
  }
  &__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.col-content {
  width: 100%;
  max-width: 1150px;
}

.col-navigation {
  width: 100%;
  max-width: 250px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 10px;
  & li:last-of-type {
      margin-top: 350px;
  }
}

.content {
  display: flex;
  justify-content: center;
  padding: 0 60px 50px 55px;
}

.content__inner {
  width: 100%;
  height: 100%;
  min-height: 691px;
  max-height: 691px;
  border: 3px solid #25FF7C;
  box-sizing: border-box;
  border-radius: 27px;
  padding: 15px;
}

.content__canvas {
  background: #343230;
  border-radius: 16px;
  min-height: 655px;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 27px;
  overflow: hidden;
}

.content__canvas::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: inline-block;
  box-shadow: 0px 0px 50px 40px #215c39;
  border-radius: 27px;
}

.fullscrenn_button{
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  color: #E63C16;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.simpple-page {
  padding: 40px 40px 40px 80px;
  width: 100%;
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__title {
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: #ff4e25;
    text-align: left;
  }
  &__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    margin-bottom: 12px;
  }
}

.button-back {
  width: 67px;
  height: 67px;
  background: url(../../../static/img/close.png) no-repeat center;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.form {
  max-width: 414px;
  margin: 0 auto;
  &_auth {
    padding-top: 70px;
  }
  &__input {
    margin-bottom: 29px;
  }
  &__button {
    display: block;
    width: 100%;
    max-width: 253px;
    margin: 0 auto;
    cursor: pointer;
  }
}

.input__field{
  position: relative;
}

.input {
  width: 100%;
  padding: 20px 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #e63c16;
  border: 1px solid #ff3f15;
  box-sizing: border-box;
  border-radius: 27px;
  background: transparent;
  box-shadow: inset 0 0 12px 0px #ff4e25, 0 0 12px 0px #ff4e25;
  overflow: hidden;
  text-owerflow: ellipsis;
  &:hover, &:focus, &:active {
    box-shadow: inset 0 0 20px 0px #ff4e25, 0 0 12px 0px #ff4e25;
  }
}

.input__error{
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  background: rgba(224, 71, 36, 0.77);
  border-radius: 27px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #d6d2d2;
  padding: 25px 30px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    left:  0;
    z-index: -1;
    height: 59px;
    width: 100%;
    max-width: 314px;
    background: #E04724;
    filter: blur(40px);
  }
}
.button-transparent {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ff4e25;
  min-width: 195px;
  border: 1px solid #ff4e25;
  background: #343230;
  box-sizing: border-box;
  border-radius: 27px;
  padding: 22px;
  box-shadow: inset 0 0 10px 0px #ff4e25, 0 0 10px 0px #ff4e25;
  transition: box-shadow .35s ease;
  margin-bottom: 10px;
  cursor: pointer;
}
.button-icon_ya {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  background-size: 40%;
  border: none;
  & img {
    margin: 0 auto;
  }
}

.oauth {
  display: flex;
  align-items: center;
  justify-content: center;
  &__label {
    color: #FFFFFF;
  }
  &__button {
    margin: 0 20px;
  }
}

.start, .finish {
  padding-top: 50px;
  text-align: center;
  &__img {
    width: 150px;
    height: auto;
    border-radius: 75px;
    border: 1px solid #ff4e25;
    box-shadow: inset 0 0 10px 0px #ff4e25, 0 0 10px 0px #ff4e25;
    margin: 0 auto 20px;
  }
  &__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #E63C16;
    min-width: 414px;
    display: inline-block;
    & > div {
      display: inline-block;
      width: 50%;
      text-align: center;
    }
  }
  &__nav {
    margin-top: 20px;
  }

}

.wrapper_light {
  .content__canvas {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 0 0 20px 0px #282828;
  }
  .simpple-page__title,
  .leaderboard__col,
  .authorization__title {
    color: #282828;
  }

  .start__img, .finish__img {
    border: 1px solid #25FF7C;
    box-shadow: inset 0 0 10px 0px #25ff7c, 0 0 10px 0px #25ff7c;
  }

  .button-transparent {
    color: #282828;
    border: 1px solid #ff4e25;
    background: transparent;
    box-shadow: 0 0 10px 0px #282828;
    border-color: transparent;
    &:hover, &:focus, &:active {
      box-shadow: inset 0 0 2px 0px #282828;
    }
  }

  .button {
    background: #282828;
    color: #FFFFFF;
    box-shadow: 0 0 10px 0px #282828;
    &:hover, &:focus, &:active {
      box-shadow: none;
    }
    &::after {
      display: none;
    }
  }

  .input {
    color: #282828;
    border: none;
    box-shadow: 0 0 12px 0px #282828;
  }

  .modal .modal-main {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }
}

.button-close {
  position: absolute;
  color: #ff4e25;
  padding: 5px;
  background: none;
  border: none;
  top: 20px;
  right: 20px;
  cursor: pointer;
  &::after {
    display: inline-block;
      content: "\00d7";
      font-size: 36px;
  }
}

