.navigation {
  li {
    margin-bottom: 40px;
  }

  &__list {
    list-style-type: none;
  }

  &__link {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ff4e25;
    min-width: 195px;
    border: 1px solid #ff4e25;
    box-sizing: border-box;
    border-radius: 27px;
    padding: 22px;
    box-shadow: inset 0 0 10px 0px #ff4e25, 0 0 10px 0px #ff4e25;
    transition: box-shadow .35s ease;
    text-decoration: none;

    &:hover, &:focus, &:active, &:visited {
      color: #ff4e25;
      text-decoration: none;
      box-shadow: none;
    }

    &_disabled, &_disabled:hover, &_disabled:focus, &_disabled:active, &_disabled:visited {
      border-color: #232222;
      box-shadow: none;
      color: #564f4e;
    }

    &_light {
      color: #282828;
      border: none;
      box-shadow: 0 0 10px 0px #282828;
      &:hover, &:focus, &:active, &:visited {
        color: #282828;
        text-decoration: none;
        box-shadow: inset 0 0 2px 0px #282828;
        border: none;
      }

      &_disabled, &_disabled:hover, &_disabled:focus, &_disabled:active, &_disabled:visited {
        border-color: #282828;
        box-shadow: none;
        color: #282828;
        border: none;
        opacity: 0.5;
      }
    }
  }
}