.forum__link {
	cursor: pointer;
	display: block;
}
.forum__message {
	display: inline-block;
	padding: 15px;
    border-radius: 15px;
    border: 1px solid #cccccc;
    color: #cccccc;
    margin-bottom: 15px;
}
.forum__message-text {
	margin-bottom: 10px;
}
.forum__username {
	color: #ff4e25;
	text-align: right;
}
.forum__textarea {
	border: 1px solid #25FF7C;
    background: transparent;
    margin-bottom: 15px;
    border-radius: 15px;
    font-family: inherit;
    color: #cccccc;
    padding: 15px;
    &_new-topic {
    	box-shadow: inset 0 0 10px 0px #ff4e25, 0 0 10px 0px #ff4e25;
    	border: 1px solid #ff3f15;
    	font-weight: bold;
	    font-size: 18px;
	    line-height: 22px;
	    padding-left: 30px;
	    padding-right: 30px;
    }
    &:focus {
    	outline: none;
    }
}
.forum__new-topic {
	background-color: transparent;
	border: none;
	color: #ff4e25;
	font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
	&::before {
		content: '+';
		display: inline-block;
		margin-right: 5px;
	}
}
